.custom-dialog-header {
  background-color: #ba86dd !important;
  color: white !important;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #ffffff;
  margin-top: 10px;
}

.t-imageupload {
  margin-top: -50px !important;
}

.p-avatar {
  margin-top: 83px;
}
.avatar-container {
  position: relative;
  display: inline-block;
}

.camera-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #6c757d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid white;
  z-index: 15;
}

.camera-icon .pi {
  color: white;
  font-size: 12px;
}

