.HeaderText {
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
}
.HeaderValue {
    font-size: 18px;
    font-weight: 700;
    font-family: cursive;
}
.imageTestimonial{
        margin-top: -20px;
}